.app {
    background-color: #fff;
    min-height: 80vh;
    width: 400px;
    margin: 20px auto;
    border-radius: 15px;
    flex-wrap: wrap;
  }
  
  body {
    background-color: #4FC0D0;
  }
  
  .crossed {
    text-decoration: line-through 2px red;
    background-color: #f0f0f0;
    
  }
  
  ul,li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Vollkorn', serif;
  }
  
  h1 {
    font-family: 'Vollkorn', serif;
    color: grey;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .add {
    margin-top: 10px;
    background: #65aa06;
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    border-radius: 15px;
    }
  
    .delete {
      margin-bottom: 10px;
      background: #d30100;
      padding: 10px;
      border: none;
      width: 70%;
      color: white;
      font-size: 16px;
      font-family: 'Vollkorn', serif;
      border-radius: 15px;
      }
  
  input {
    flex:1;
    padding: 8px;
    margin: 10px;
    font-family: 'Vollkorn', serif;
    border-radius: 10px;
    border: 2px solid grey;
  }
  
  img {
    border-radius: 50%;
    margin-top: 15px;
  }

  @media all and  (max-width: 800px) {
    .app {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  @media all and  (max-width: 500px) {
    .app {
      width: 350px;
    }
  
  }